*.class
*.tasty
*.log
bash/state/
bash/sample/spark-warehouse/
metastore_db/
spark-warehouse/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.target
.idea
.DS_Store
*/.DS_Store
**/.DS_Store
.target/
target/
.mvn/
.mvn-local-settings.xml
.metals/
.bloop/
bash/driver/tmp/
bash/pipeline/tmp/
.classpath
.factorypath
.project
.settings
bash/conf/env.sh
.vscode/settings.json
.venv