*.class
*.tasty
*.log
bash/state/
bash/sample/spark-warehouse/
metastore_db/
spark-warehouse/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.target
.idea
.target/
target/
.mvn/
.metals/
.bloop/
bash/driver/tmp/
.classpath
.factorypath
.project
.settings
.vscode/settings.json
bash/conf/env.sh
**/.DS_Store
.mvn-local-settings.xml
.venv/
tools/cpp_featurizer/build